<h1>Welcome to Bookstore</h1>

<p>We hope you find exactly what you're looking for in a classic book.</p>

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Click here to contact us.{{/link-to}}